* {
    overflow: auto;
}
h1 {
    text-align: center;
}
div.categorie{
    text-align: center;
    margin-top: -60px;
    font-weight: bold;
}
p.categorie {
    background-color: black;
    color : white;
    display: inline-block;
    padding: 8px 18px;
}
p.description{
    text-align: center;
    max-width: 500px;
    display: inline-block;
    font-size: 14px;
}
div.description {
    text-align: center;
}
div.contenu {
    background-color: white;
    margin: 40px 8px 40px 8px;
    padding: 0px 8px 20px 8px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    overflow: visible;
}
.center {
    text-align: center;
    width: 100%;
}
body {
     background-color: #8BA1BB;
     font-family: Arial;
}
div.separator{
    background-color: black;
    height: 1px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
div.info { 
    position:  relative;
    background-color: #CC8290C0;
}
table.info{
    background-color: #6C8290C0;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
table.info td {
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}
table.info th {
    font-size: 14px;
    vertical-align: bottom;
    padding: 10px;
}
img.info{
    display: block;
    width: 100%;
    object-fit: cover;
    max-height: 400px;
    min-height: 200px;
}
div.colonne {
    width: 100%;
    margin-top: 20px;
}
div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px; 
    border-bottom: 10px solid #6C8290;
    padding-bottom: 5px;
    margin-bottom: 8px;
}
div.colonne1 { 
    display: inline-block;
}
div.domaine p {
    font-size: 14px;
    border: 1px solid lightblue;
    text-align: center;
    padding: 8px 0;
    margin-top: 4px;
    margin-bottom: 0px;
}

table.outils p.numero{
    background-color: #6C8290;
    width: 25px;
    height: 25px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}  

table.outils td.outils-etape{ 
    padding-left: 10px; 
    font-size: 14px;
    padding-bottom: 10px;
}

table.outils tr { 
    height: 40px;
}

div.colonne {
    overflow: auto;
}

@media only screen and (min-width: 768px) {
    div.contenu {
      margin: 60px 10% 60px 10%;
      padding: 30px;
      min-width: 350px;
    }

    table.info{
        height: 80px;
    }
    table.info td {
        font-size: 14px;
    }
    table.info th {
        font-size: 14px;
    }
    div.colonne {
        width: 45%;
        margin-top: 20px;
    }
    div.colonne1 { 
        display: inline-block;
    }
    div.colonne2 {
        float: right;
    }
  }

  @media only screen and (min-width: 900px) {
    div.contenu{
        margin-left: auto;
        margin-right: auto;
        width: 645px;
    }

  }
